<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <form action="/uploaddb" method="get">
        <div>
            <h3>Phd Education</h3><br>
            <input type="text" value={{phd}} placeholder="Phd Details"></div>
        <div><h3>Master Education</h3><br>
            <input type="text" value={{master}} placeholder="Master Details"></div>
        <div><h3>Bachelor Education</h3><br>
            <input type="text" value={{bachelor}} placeholder="Bachelor Details"></div>
        <div><h3>Secondary Education</h3><br>
            <input type="text" value={{secondary}} placeholder="Secondary Details"></div>
    </form>
</body>
</html>